*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/77.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: -500px;
    overflow: hidden;
}
.operator{
    width: 700px;
    margin: 100px auto;
    margin-top: 300px;
}
.operator input{
    padding: 16px;
    width: 500px;
    outline: none;
}
.operator p{
    padding: 16px;
    text-align: center;
    width: 150px;
    background-color: #64fd6b;
    border-radius: 20px;
    border: 2px solid #00c20a;
}
.operator p:hover{
    background-color: #18fd24;
    cursor: pointer; 
}
.trafareti p{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    background-color: #005ad9;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}
.joxi{
    margin: 0 auto;
    width: 10px;
    background-image: linear-gradient(to right, #ffffff, #acacac, #ffffff, #acacac);
    height: 200px;
}
.car{
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 50px;
    transition: 1s;
}
.car img{ 
    width: 100%;
}