*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
p{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #99ffb8;
    background-color: #1cff60;
}
.container{
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: 1fr 1fr;
}
.pirveli{
    grid-column-start: 1;
    grid-column-end: 3;
}
.mesame{
    grid-row-start:2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}